.questions{
    display: none;
    flex-direction: column;
    height: 21.6rem;
    width: 46.25rem;
    background-color: white;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
.block-heading{
    width: 506px;
    font-size: 24px;    
    text-align: center; 
    margin-bottom: 16px;  
    margin-right: 10px;
    margin-left: 90px;
    margin-top: 30px;
}
.block-text{
    width: 515px;
    font-size: 15px;   
    text-align: center;
    margin-right: 10px;
    margin-left: 90px;
    margin-bottom: 15px;
}
.block1-button{
    position: absolute;
    width: 197px;
    height: 70px;   
    background: #F15525;
    border-radius: 82px;
    border: 0;
    color: white;
    
}
.block2-button{
    width: 132px;
    height: 49px;
    background: #F15525;
    border-radius: 82px;
    color: white;
    border: 0;
}
.block-text-2{
    width: 618px;
    height: 90px;
    font-weight: 400;
    font-size: 15px;
}
.questions-2{
    display: none;
    width: 740px;
    height: 379px;
    background: #FFFFFF;
    border-radius: 30px;
}
.grey-alert{
    width: 129px;
    height: 41px;
    background: #EAEAEA;
    border-radius: 49px;
    color: black;
}
.option-1{
    display: none;
    width: 740px;
    height: 448px;
    background: #FFFFFF;
    border-radius: 30px; 
}
.option-2{
    display: none;
    width: 740px;
    height: 448px;
    background: #FFFFFF;
    border-radius: 30px; 

}
.option-3{
    display: none;
    width: 740px;
    height: 448px;
    background: #FFFFFF;
    border-radius: 30px;
} 
.finish-test{
    display: none;
    width: 740px;
    height: 448px;
    background: #FFFFFF;
    border-radius: 30px;
} 




